body {
    background: url('https://wallpaperaccess.com/full/5137775.jpg') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center !important;
    height: auto !important;
    min-height: 100vh !important;
    /* min-height: 200% !important; */
    width: 100%;
    backdrop-filter: blur(2px);
    overflow-x: hidden !important;
}

.page{
    position: absolute;
}


.fade-appear, .fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active, .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit{
    opacity: 1;
}

.fade-exit.fade-exit-active{
    opacity: 1;
    transition: opacity 150ms linear;

}


.back-button-container{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    transform: translateY(-20px);
    cursor: pointer;
}

.back-button-container:active{
    outline: none;
}